@import "../core/style/vendor-prefixes";
@import "../core/theme/color-config";
$fox-radio-prefix: fox-radio;

.#{$fox-radio-prefix} {
  display: inline-block;
  white-space: nowrap;
  outline: none;
  position: relative;
  cursor: pointer;
  line-height: 1;
  vertical-align: middle;
  input[type=checkbox],
  input[type=radio] {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
  }

  .#{$fox-radio-prefix}-inner {
    display: inline-flex;
    align-items: center;
    line-height: 1;
    vertical-align: middle;
  }

  i {
    margin-right: 5px;
    display: inline-block;
    width: .6em;
    height: .6em;
    border: 1px solid currentColor;
    @include border-radius(100%);
    position: relative;
  }
  &.#{$fox-radio-prefix}-checked {
    i {
      border-color: $primary-color;

      &:after {
        content: '';
        width: .4em;
        height: .4em;
        top: .1em;
        left: .1em;
        background-color: $primary-color;
        position: absolute;
        @include border-radius(100%);
      }
    }
  }

  &:hover {
    i {
      color: rgba($primary-color, .8);
    };
  }

  &.#{$fox-radio-prefix}-disabled {
    border-color: $disabled-color;
    cursor: not-allowed;
    i {
      border-color: $disabled-color;
      &:after {
        background-color: $disabled-color;
      }
    }
  }
}
