<button fox-button [foxType]="'default'" class="custom  primary">default</button>
<button fox-button [foxType]="'primary'" class="custom">primary</button>
<button fox-button [foxType]="'primary'" [foxSize]="'small'" class="custom">primary</button>
<button fox-button [foxType]="'primary'" [foxSize]="'small'" class="custom">中文</button>
<button fox-button [foxType]="'primary'" [foxSize]="'large'" class="custom">primary</button>
<button fox-button [foxType]="'primary'" [foxSize]="'large'" class="custom">中文</button>
<button fox-button [foxType]="'primary'" [foxSize]="'large'" class="custom">1</button>
<button fox-button [foxType]="'secondary'" class="custom">secondary</button>
<button fox-button [foxType]="'success'" class="custom">success</button>
<button fox-button [foxType]="'info'" class="custom">info</button>
<button fox-button [foxType]="'warning'" class="custom">warning</button>
<button fox-button [foxType]="'danger'" class="custom">danger</button>
<button fox-button [foxType]="'danger'" [foxShape]="'circle'" class="custom">danger</button>
<button fox-button [foxType]="'danger'" [foxSize]="'small'" [foxShape]="'circle'" class="custom">danger</button>
<button fox-button [foxType]="'danger'" [foxSize]="'large'" [foxShape]="'circle'" class="custom">1</button>

<button fox-button [foxType]="'default'" class="custom" disabled>default</button>
<button fox-button [foxType]="'primary'" class="custom" disabled>primary</button>
<button fox-button [foxType]="'secondary'" class="custom" disabled>secondary</button>
<button fox-button [foxType]="'success'" class="custom" disabled>success</button>
<button fox-button [foxType]="'info'" class="custom" disabled>info</button>
<button fox-button [foxType]="'warning'" class="custom" disabled>warning</button>
<button fox-button [foxType]="'danger'" class="custom" disabled>danger</button>
<button fox-button [foxType]="'danger'" class="custom" disabled><a href="http://www.baidu.com">baidu</a></button>
<button fox-button [foxType]="'danger'" [foxShape]="'circle'" class="custom" disabled><a href="http://www.baidu.com">baidu</a></button>


<a fox-button [foxType]="'danger'" class="custom">你好</a>
<a fox-button [foxType]="'danger'" class="custom" [foxShape]="'circle'">你好11111111111</a>

